/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap'); /* Red Hat */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap'); /* Intertight */

:root{
  --background: #EFF4FF;
  --primary: #5C8EF2;
  --secondary: #F25252;
  --white: #FFFFFF;
  --text: #3F3F46;

  --titleFont: "Red Hat Display", sans-serif;
  --textFont: "Inter Tight", sans-serif;
}

html{
  height: 100%;
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--titleFont);
  font-weight: bold;
  color: var(--text)
}

p, th, td{
  font-family: var(--textFont);
  color: var(--text)
}